<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hisobni Tasdiqlash</title>
</head>
<body>
<h2>Assalomu alaykum {{ user.username }},</h2>

<p>Sizning hisobingizni tasdiqlash uchun quyidagi havolaga o'ting:</p>

<p>
    <a href="http://{{ domain }}/verify-email/{{ uid }}/{{ token }}/">Hisobingizni tasdiqlash</a>
</p>

<p>Agar siz bu so'rovni yubormagan bo'lsangiz, iltimos, bu emailni e'tiborsiz qoldiring.</p>

<footer>
    <p>Hormat bilan,</p>
    <p>Tweets.uz</p>
</footer>
</body>
</html>
